html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
:root {
	--primary-color: #7a82c4;
	--header-height: 60px;
	--arrow-width: 60px;
	--border-style: #cecaca 1px solid;
	--secondary-color: #f336ba;
}

.svg-icon {
	width: 1.6em;
	height: 1.6em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: #4691f6;
}

.svg-icon circle {
	stroke: #4691f6;
	stroke-width: 1;
}

.app {
	background: rgb(224, 231, 255);
}

.app-content {
	background-color: white;
}

.content {
	min-width: 95%;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-bottom: 65px;
}

.header {
	background-color: white;
	position: sticky;
	top: 0;
	height: var(--header-height);
	border-bottom: var(--border-style);
	display: flex;
	align-items: center;
}

.header .header-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--primary-color);
}

.arrow-left {
	width: var(--arrow-width);
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.arrow-right {
	width: var(--arrow-width);
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.arrow-right .fa {
	color: var(--primary-color);
	font-size: 20px;
	-webkit-tap-highlight-color: transparent;
}

.footer {
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: var(--header-height);
	border-top: var(--border-style);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer-text {
	font-size: 1.2rem;
	color: var(--primary-color);
}

.footer-btn button {
	width: 120px;
	height: calc(var(--header-height) - 10px);
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: none;
	cursor: pointer;
	text-align: center;
	transform: none;
	background-color: transparent;
	transition: ease-in 0.2s;
	color: var(--primary-color);
	font-size: 1.2rem;
	-webkit-tap-highlight-color: transparent;
}

.footer-btn button:active {
	transform: scale(1.2);
}

.item-list {
	margin: 0;
	padding: 0;
	min-width: 95%;
	max-width: 95%;
}

.item-list li {
	margin-top: 10px;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 18px;
	color: var(--primary-color);
	min-height: 60px;
	border-radius: 10px;
	padding: 6px;
}
.item-list li label {
	width: 90%;
}

.delete,
.update {
	min-width: 30px;
	min-height: 30px;
	border-radius: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: white;
	cursor: pointer;
}
.delete {
	background-color: rgba(143, 8, 55, 0.521);
}
.update {
	background-color: rgba(0, 0, 0, 0.521);
}

.completed {
	text-decoration: line-through;
}

.item-list input {
	appearance: none;
	min-height: 30px;
	min-width: 30px;
	background-color: #d5d5d5;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: var(--primary-color) 5px solid;
	-webkit-tap-highlight-color: transparent;
}

.item-list label {
	color: var(--primary-color);
}

.item-list input:after {
	content: '\f00c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 20px;
	color: white;
	display: none;
}

.item-list input:checked {
	background-color: var(--primary-color);
}
.item-list input:checked:after {
	display: block;
}

.modal-container {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(3, 3, 3, 0.356);
	display: none;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	z-index: 100;
	transition: ease-in 0.5s ease-out;
}

.modal-open {
	display: flex;
}

.modal {
	width: 95%;
	height: 200px;
	background-color: white;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 10px;
	margin-bottom: -200px;
}

.modal-header {
	padding: 7px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--primary-color);
}

.modal-body {
	padding: 7px;
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-body input {
	width: 100%;
	height: 100px;
	outline: none;
	border: var(--primary-color) solid 2px;
	border-radius: 20px;
	padding: 0 10px;
	font-size: 1.2rem;
	color: var(--primary-color);
}
.closable-space {
	width: 100%;
	height: 100%;
}
.start-page {
	height: calc(100vh - 150px);
	width: 100%;
}
.home-actions {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.start-page-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3aa932;
	background: -webkit-linear-gradient(to right, #3aa932, #6260d7);
	background: linear-gradient(to right, #3aa932, #6260d7);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.home-actions button {
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	-webkit-tap-highlight-color: transparent;
	font-size: 1em;
}
.home-actions button:nth-child(1) {
	background-color: #00b26a;
	font-weight: bold;
	color: white;
}

.home-actions button:nth-child(2) {
	background-color: #6946f1;
	font-weight: bold;
	color: white;
}

.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
}
@keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
}
